<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.vector.metrics</string>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/vector</string>
        <string>--config</string>
        <string>/Users/dev345/code/kfirfer/monitor-mac/vector.toml</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/vector.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/vector.err</string>
</dict>
</plist>
